<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Demo website about cooking recipes">
    <meta name="keywords" content="cooking, recipes, demo">
    <meta name="author" content="Vladimir Georgiev">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>NG Puppies</title>
</head>
<body>
<div class="container marketing">
    <!-- What's new? section -->
    <hr>
    <h4>What's new</h4>
    <hr>

  <!--  <div class="container" th:if="${not #lists.isEmpty(latestTen)}">
        <div class="row">
            <div class="col-lg-4 col-md-4" th:each="latest : ${latestTen}">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-success">New</span>
                        <img class="card-img-top" alt="Card image cap" th:src="${latest.imageUrl}">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker" th:text="${latest.name}"></i></h6>

                            <h2 class="text-success mb-0 mt-3" th:text=" 'BGN ' + ${latest.price}">

                            </h2>
                        </div>
                        &lt;!&ndash;<div class="card-footer">
                            <span><i class="mdi mdi-sofa"></i> Category : <strong th:text="${latest.category.name}"></strong></span>
                            <span><i class="mdi mdi-scale-bathroom" th:text="${latest.description}"></i></span>
                        </div>&ndash;&gt;
                    </a>
                </div>
            </div>
        </div>
    </div>-->
</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
    <script src="app.js"></script>
</body>
</html>