<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="sections/site-style :: site-head">
</head>
<body id="bootstrap-override">
<!--Navbar -->
<!--th:replace="sections/site-navigation :: site-header"-->
<header th:include="${header}"></header>
<!-- End Navbar -->
<!-- Main -->
<main th:include="${view}"></main>
<!--End Main-->
<!-- Footer  -->
<footer th:include="${footer}"></footer>
<!-- End Footer  -->
<!-- Bootstrap core JavaScript -->
<section th:replace="sections/site-script :: site-script"></section>
</body>
</html>

